<h1>Hello, I am your coach, what did you want to tell me?</h1>
<label for="question">Speak to your coach</label>
<form action="answer" method="get">
<input type="text" name="query" placeholder="your question">
<input type="submit" value= "Go on!">
</form>
