<div class="wrapper-ask">
  <div class="container ask">
    <div class="row">
      <div class="col-md-12">
        <div class="carte-coach">
          <h2>Hello, I am your coach.</h2>
          <%= image_tag "trainer.jpg", {class: "coach", alt: "your coach"} %>
          <h3>what did you want to tell me?</h3>
          <form action="answer" method="get" id="form" class="form-inline">
            <label for="form">Speak to your coach</label>
            <input type="text" class="form-control ask-input" name="query" placeholder="write something">
            <button type="submit" class="btn btn-success btn-lg">Go on!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
