<div class="container">
  <div class="row">
    <div class="col-md-6 col-la-6">

      <h1>Hello, I am your coach, what did you want to tell me?</h1>
      <form action="answer" method="get" id="form">
        <label for="form">Speak to your coach</label>
        <input type="text" name="query" placeholder="write someting">
        <input type="submit" value= "Go on!" class="btn">
      </form>
    </div>
  </div>
</div>
